body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-soc {
font-style: normal;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-studio {
  color: #2E2F42;
}

.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-soc-link {
color: inherit;
font-size: 16px;
font-style: normal;
line-height: 1.5
letter-spacing: 0.02em;
}

.active:hover,
.active:focus {
  color: #404BBF;
}

/* =================== Section 1 - Head ====================== */

.head {
  background-color: var(--NAVY-BLUE, #2E2F42);
  color: #ffffff;
  text-align: center;
}

.head-title {
color: inherit;
font-family: inherit;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.head-order-btn {
  background-color: #4D5AE5;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.head-order-btn:hover
.head-order-btn:focus {
  background-color: #404BBF;
}

.head-btn-text {
  color: inherit;
font-size: 16px;
font-weight: 500;
}

/* =================== Section 2 - Benefits ====================== */

.benefits-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

/* =================== Section 3 - Our team ====================== */

.team {
  background-color: var(--CLOUD, #F4F4FD);
}
.team-title {
  color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
}

.team-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}


/* =================== Section 4 - Portfolio ====================== */

.portfolio-title{
  color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

/* =================== Section 1-4 - Style fot item-text ====================== */
.i {
color:#434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* =================== FOOTER ====================== */

.footer {
  background-color: #2E2F42;
}

.footer-link-logo {
  color: #4D5AE5; 
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-logo-text {
  color: #F4F4FD;
}

.footer-text {
  color: var(--CLOUD, #F4F4FD);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}